<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- Change Data Source to your SQL Server instance (e.g. .\SQLEXPRESS or localhost) -->
    <add name="SchoolDB" 
         connectionString="Data Source=SAHABNOTEBOOK;Initial Catalog=School;Integrated Security=True;" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
